Repository odpi/egeria-docs, changes with the owners that CODEOWNERS names for each.
All owners: @cmgrote, @mandy-chessell, @davidradl, @popa-raluca, @lcpopa

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the Egeria project.

# Code ownership for Egeria documentation - see https://help.github.com/articles/about-codeowners/
# Note that the LAST matching pattern will be effective so please more generic paths towards the top

# Top level

.github/ @cmgrote

site/ @cmgrote
site/overrides/ @cmgrote
site/snippets/ @cmgrote

site/docs/assets/ @cmgrote

site/docs/concepts/ @mandy-chessell

site/docs/connectors/ @mandy-chessell
site/docs/connectors/repository/apache-atlas/ @cmgrote
site/docs/connectors/repository/crux/ @cmgrote
site/docs/connectors/repository/ibm-information-server/ @cmgrote

site/docs/frameworks/ @mandy-chessell

site/docs/education/egeria-dojo @davidradl
site/docs/education/egeria-dojo/running-egeria/ @mandy-chessell
site/docs/education/egeria-dojo/developer/ @mandy-chessell

site/docs/getting-started/ @mandy-chessell
site/docs/getting-started/hands-on-lab/ @mandy-chessell 

site/docs/guides/ @mandy-chessell
site/docs/guides/developer/ @mandy-chessell 
site/docs/guides/cts/ @cmgrote

site/docs/introduction/ @mandy-chessell

site/docs/operations/kubernetes/ @mandy-chessell

site/docs/release-notes/ @mandy-chessell 

site/docs/services/ @mandy-chessell

site/docs/services/omas/asset-consumer/ @mandy-chessell
site/docs/services/omas/asset-owner/ @mandy-chessell
site/docs/services/omas/community-profile/ @mandy-chessell
site/docs/services/omas/data-manager/ @mandy-chessell
site/docs/services/omas/data-engine/ @popa-raluca
site/docs/services/omas/digital-architecture/ @mandy-chessell
site/docs/services/omas/enterprise-architecture/ @mandy-chessell
site/docs/services/omas/glossary-view/ @lcpopa
site/docs/services/omas/stewardship-action/ @mandy-chessell
site/docs/services/omas/governance-program/ @mandy-chessell
site/docs/services/omas/governance-engine/ @mandy-chessell
site/docs/services/omas/subject-area/ @davidradl
site/docs/services/omas/asset-lineage/ @lcpopa @popa-raluca

site/docs/services/omvs/ @davidradl

site/docs/types/ @mandy-chessell

site/docs/tutorials/docker-tutorial/  @mandy-chessell
site/docs/tutorials/open-metadata-labs/ @mandy-chessell
site/docs/tutorials/postman-tutorial/ @mandy-chessell

update expected release date
  site/docs/release-notes/4-2.md
Owners: @mandy-chessell

Update server type descriptions
  site/docs/types/0/0041-Server-Purpose.md
  site/docs/types/0/0057-Software-Services.md
Owners: @mandy-chessell

added profile page and about page info
  site/docs/user-interfaces/general/egeria-ui-about-icon.png
  site/docs/user-interfaces/general/egeria-ui-about.png
  site/docs/user-interfaces/general/egeria-ui-profile-icon.png
  site/docs/user-interfaces/general/egeria-ui-profile.png
  site/docs/user-interfaces/general/overview.md
Owners: @cmgrote

updated screenshots glossary
  site/docs/user-interfaces/general/egeria-ui-category.png
  site/docs/user-interfaces/general/egeria-ui-glossary-categories.png
  site/docs/user-interfaces/general/egeria-ui-glossary-terms.png
  site/docs/user-interfaces/general/egeria-ui-glossary.png
  site/docs/user-interfaces/general/egeria-ui-terms.png
  site/docs/user-interfaces/general/overview.md
Owners: @cmgrote

Enhance the description of the Apache Atlas Integration Connector
  site/docs/connectors/integration/apache-atlas-catalog-integration-connector.md
  site/docs/guides/diagnostic/ffdc.md
  site/docs/guides/operations/starting-and-stopping-omag-server.md
Owners: @mandy-chessell

More on Apache Atlas
  site/docs/connectors/integration/apache-atlas-catalog-integration-connector.md
  site/mkdocs.yml
Owners: @mandy-chessell, @cmgrote

Release notes 4.2
  site/docs/release-notes/4-2.md
  site/docs/release-notes/4-3.md
  site/docs/release-notes/latest.md
  site/docs/release-notes/next.md
  site/docs/release-notes/previous.md
Owners: @mandy-chessell

Extended the JanusGraph entry and edited the atlas entry
  site/docs/connectors/integration/apache-atlas-catalog-integration-connector.md
  site/docs/connectors/repository/janus-graph/overview.md
Owners: @mandy-chessell

Minor typo
  site/docs/connectors/integration/apache-atlas-catalog-integration-connector.md
Owners: @mandy-chessell

Move DataFieldValues
  site/docs/types/2/0210-Data-Stores.md
  site/docs/types/2/0210-Data-Stores.svg
  site/docs/types/2/area-2-assets.drawio
  site/docs/types/3/0340-Dictionary.md
  site/docs/types/3/0340-Dictionary.svg
  site/docs/types/3/area-3-glossary.drawio
Owners: @mandy-chessell

Fix spelling mistake
  site/docs/concepts/audit-log-record-structure.svg
  site/docs/frameworks/alf/audit-log-framework.drawio
Owners: @mandy-chessell

Fix layout
  site/docs/connectors/repository/janus-graph/overview.md
Owners: @mandy-chessell

Add new cts and integration context options
  site/docs/guides/admin/servers/configuring-the-workbenches.md
  site/docs/guides/developer/integration-connectors/overview.md
  site/docs/release-notes/4-3.md
Owners: @mandy-chessell

Fix typo
  site/docs/guides/index.md
Owners: @mandy-chessell

Typos and improved explainations
  site/docs/concepts/omag-server-ecosystem-cts.svg
  site/docs/concepts/omag-server-ecosystem.svg
  site/docs/concepts/omag-server.md
  site/docs/concepts/open-metadata-ecosystem.md
  site/docs/guides/admin/egeria-admin.drawio
  site/docs/guides/diagnostic/overview.md
  site/docs/introduction/challenge.md
  site/docs/introduction/key-concepts.md
  site/docs/introduction/open-metadata-ecosystem.md
  site/docs/introduction/overview.md
  site/mkdocs.yml
Owners: @mandy-chessell, @cmgrote

Consistent capitalization of server types
  site/docs/concepts/omag-server.md
Owners: @mandy-chessell

Add deployment type properties
  site/docs/release-notes/4-3.md
  site/docs/types/0/0035-Complex-Hosts.md
  site/docs/types/0/0035-Complex-Hosts.svg
  site/docs/types/0/area-0-basic-types-and-infrastructure.drawio
  site/docs/types/2/0215-Software-Components.md
  site/docs/types/2/0215-Software-Components.svg
  site/docs/types/2/area-2-assets.drawio
  site/docs/types/5/0534-Relational-Schemas.md
Owners: @mandy-chessell

Update servers and assets
  site/docs/types/0/0042-Software-Capabilities.md
  site/docs/types/0/0045-Servers-and-Assets.md
  site/docs/types/2/area-2-assets.drawio
Owners: @mandy-chessell

Add deployedImplementationType to top-level entities
  site/docs/release-notes/4-3.md
  site/docs/types/0/0010-Base-Model.md
  site/docs/types/0/0010-Base-Model.svg
  site/docs/types/0/0035-Complex-Hosts.svg
  site/docs/types/0/area-0-basic-types-and-infrastructure.drawio
  site/docs/types/2/0210-Data-Stores.md
  site/docs/types/2/0210-Data-Stores.svg
  site/docs/types/2/0212-Deployed-APIs.md
  site/docs/types/2/0212-Deployed-APIs.svg
  site/docs/types/2/0215-Software-Components.svg
  site/docs/types/2/0222-Graph-Stores.svg
  site/docs/types/2/0223-Events-and-Logs.md
  site/docs/types/2/0223-Events-and-Logs.svg
  site/docs/types/2/0224-Databases.svg
  site/docs/types/2/0225-Metadata-Repositories.svg
  site/docs/types/2/area-2-assets.drawio
Owners: @mandy-chessell

Add updates to OMISs
  site/docs/release-notes/4-3.md
Owners: @mandy-chessell

Extend external identifiers
  site/docs/release-notes/4-3.md
  site/docs/types/0/0017-External-Identifiers.md
  site/docs/types/0/0017-External-Identifiers.svg
  site/docs/types/0/area-0-basic-types-and-infrastructure.drawio
  site/docs/types/0/external-identifier-example.svg
Owners: @mandy-chessell

Update call schedule to show breaks
  site/docs/community/index.md
  site/docs/guides/community.md
Owners: @cmgrote, @mandy-chessell

Add new server-operations module
  site/docs/connectors/resource/jdbc-resource-connector.md
  site/docs/practices/common-data-definitions/open-metadata-for-common-definitions.md
  site/docs/practices/common-data-definitions/overview.md
  site/docs/services/gaf-metadata-management.md
  site/docs/services/oms-metadata-management.md
  site/docs/services/server-chassis.md
  site/docs/services/server-operations.md
  site/docs/types/0/0036-Storage.md
  site/mkdocs.yml
Owners: @mandy-chessell, @cmgrote

Add RelationalDatabase type
  site/docs/types/2/0224-Databases.md
  site/docs/types/2/0224-Databases.svg
  site/docs/types/2/area-2-assets.drawio
Owners: @mandy-chessell

Add RelationalDatabase type
  site/docs/release-notes/4-3.md
Owners: @mandy-chessell

Add new properties to person
  site/docs/release-notes/4-3.md
  site/docs/types/1/0112-People.svg
  site/docs/types/1/area-1-collaboration.drawio
Owners: @mandy-chessell

Add August newsletter
  site/docs/concepts/audit-log-intro.md
  site/docs/connectors/integration/jdbc-integration-connector.md
  site/docs/connectors/resource/apache-atlas-rest-connector.md
  site/docs/connectors/resource/jdbc-resource-connector.md
  site/docs/education/tutorials/building-egeria-tutorial/omag-server-platform-assembly.svg
  site/docs/education/tutorials/docker-tutorial/overview.md
  site/docs/release-notes/4-1.md
  site/docs/release-notes/4-2.md
  site/docs/release-notes/4-3.md
  site/docs/release-notes/april-2023.md
  site/docs/release-notes/august-2023.md
  site/docs/release-notes/egeria-ui-assembly.png
  site/docs/release-notes/omag-server-platform-assembly.png
  site/docs/release-notes/overview.md
  site/docs/release-notes/previous.md
  site/docs/release-notes/structure-of-open-metadata-assemblies.png
  site/mkdocs.yml
Owners: @mandy-chessell, @cmgrote

Add august newsletter to sidebar
  site/mkdocs.yml
Owners: @cmgrote

Update information about the community calls.
  site/docs/guides/community.md
  site/docs/release-notes/august-2023.md
Owners: @mandy-chessell

Crorrect nav
  site/mkdocs.yml
Owners: @cmgrote
